.container {
	width: 95%;
}
#left {
	float: left;
	width: 640px;
}
#right {
	margin-left: 650px;
}
#editor {
	float: left;
	width: 100%;
	height: 500px;
	margin-top: 5px;
}
p {
	padding-top: 10px;
	clear: both;
}
#nav {
	position: absolute;
	top: 20px;
	right: 45px;
}
#oppgave {
	margin-right: 180px;
}
canvas {
	outline: 1px solid black;
	margin-top: 6px;
}
.btn {
	margin-right: 5px;
}
.footer {
	text-align: center;
	margin-top: 100px;
	color: #aaa;
}

/*
 * jquery-modal: https://github.com/kylefox/jquery-modal
 */

.modal {
  display: none;
  width: 400px;
  background: #fff;
  padding: 15px 30px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(close.png) no-repeat 0 0;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url(spinner.gif) #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* Extras to override Bootstrap */

.modal {
	overflow: visible;
	bottom: auto;
}